<a href="https://colab.research.google.com/github/JSJeong-me/SEMICON-BigData/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

과정 목표: 파이썬 이해, 데이터 수집 및 정제, 데이터 시각화, 통계의 이해까지이며 내용으로는 Pandas활용, 시각화, 통계적 가설검정

Computer Program는

Mathmatics Notation 과 NLP 사이

Python
platform — 하부 플랫폼의 식별 데이터에 대한 액세스

In [2]:
# https://docs.python.org/ko/3/library/platform.html

import platform

In [ ]:
platform.processor()

In [ ]:
platform.python_version()

In [ ]:
platform.system()

In [ ]:
platform.python_build()

문자열 인덱싱과 슬라이싱

In [15]:
a = "Hello World!"

In [ ]:
a[0]

In [ ]:
a[-1]

In [ ]:
a[2:-1]

In [ ]:
a[2:]

문자열 포맷팅 : %

%s는 'string'의 첫 글자로서 문자열을 의미
%c는 'character'의 첫 글자로서 문자 1개를 의미
%d는 'digit'의 첫 글자로 정수형 숫자를 의미
%f는 'floating point'의 첫 글자로서 실수형 숫자를 의미

In [ ]:
kor = 90
eng = 100
math = 85
sum = kor + eng + math
avg = sum/3
print('합계 : %d, 평균 : %.2f' % (sum, avg))

In [26]:
#@title 기본 제목 텍스트
color = '파랑'
s = '나는 %s을 좋아합니다.' %color # %s에 color값(파랑)을 대입
s

In [ ]:
a = "%10s" % "hi"
print(a)

In [ ]:
a = "%-10s" % "hi"
print(a)

In [ ]:
a = "%0.4f" % 3.42134234
print(a)

In [ ]:
number = 4
a = "I want {0} eggs".format(number)
print(a)

In [ ]:
color = "white"
day = "ten"
a = "I like {0} eggs. so I ate them for {1} days.".format(color, day)
print(a)

In [ ]:
a = " I like {color} eggs. so I ate them for {day} days.".format(color= "white" , day=10)
print(a)

In [ ]:
message = '안녕하세요!'
str_len = len(message) # message 문자열의 길이
print('문자열의 길이 : ' + str(str_len))

In [ ]:
a = "happy"
c = a.count('p') # happy 문자열에서 p는 몇 개인지 세기
print(c)

In [ ]:
a = "I like egg"
f = a.find('e') # 문자열 중 e가 처음 나온 위치 반환
print(f)

In [ ]:
f = a.find('s') # 찾는 문자나 문자열이 존재하지 않는다면 -1을 반환
print(f)

In [ ]:
a = "Life is too short"
i = a.index('t') # 문자열 중 t가 처음 나온 위치 반환
print(i)

In [ ]:
a = "Life is too short"
i = a.index('k') # 문자열 안에서 찾고자 하는 문자를 찾지 못하면 오류 발생
print(i)

In [ ]:
j = ",".join('abcd') # abcd 문자열의 각각의 문자 사이에 ',' 를 삽입
print(j)

In [ ]:
a = "HI"
T = a.upper()
t = a.lower()
print(t, T)

In [ ]:
a = " hi "
l = a.lstrip()
print(l)

In [ ]:
a= " hi "
r = a.rstrip()
print(r)

In [ ]:
a = " hi "
s = a.strip()
print(s)

In [ ]:
a = "aaaaHello Pythonaaa"
l = a.lstrip('a')
print(l)

In [ ]:
a= "aaaaHello Pythonaaa"
r = a.rstrip('a')
print(r)

In [ ]:
a = "aaaaHello Pythonaaa"
s = a.strip('a')
print(s)
s

In [ ]:
a = "Life is bad"
s = a.replace("bad", "good")
print(s)

In [ ]:
a = "Life is good"
s = a.split() # 공백을 구분자로 문자열을 나눔
print(s)

In [ ]:
type(a)

In [ ]:
type(s)

In [ ]:
b = "a:b:c:d"
s = b.split(':') # ':' 값을 구분자로 문자열을 나눔
print(s)

List ndarray Sereis DataFrame

In [ ]:
score = [90, 89, 77, 95, 67] # score 변수에 숫자로 된 리스트형의 값을 저장
fruit = ['apple', 'banana', 'orange'] # fruit 변수에 문자열로 된 리스트형의 값을 저장
print(score)

In [ ]:
print(fruit)

In [ ]:
color = ['red', 'green', 'blue', 'black', 'white'] # 가장 왼쪽부터 0번째 값임
print(color[4])

In [ ]:
print(color[1:4])

In [ ]:
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
print(a[2:5]) # a변수에서 2번 index에서 4번 index까지 출력

In [ ]:
print(a[3][:2])

In [ ]:
num = list(range(1,21, 2)) # 1부터 20까지 2씩 증가하는 데이터 생성
print(num)

In [ ]:
print(num[3:7])

 리스트 연산하기

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]
print(a + b)

In [ ]:
a = [1, 2, 3]
print(a * 3)

In [ ]:
a = [1, 2, 3]
print(len(a))

In [ ]:
a = [1, 2, 3]
a[2] = 4 # a의 3번째 값에 4를 저장
print(a)

In [ ]:
a = [1, 2, 3]
del a[1] # a의 2번째 값을 삭제
print(a)

In [ ]:
a = [1, 2, 3, 4, 5]
del a[2:] # a의 3번째 값부터 삭제
print(a)

In [95]:
a = [1, 2, 3]
a.append(4) # a의 값에 4를 추가
print(a)

[1, 2, 3, 4]

In [ ]:
a.append([5,6]) # a의 값에 [5,6] 리스트를 추가
print(a)

In [ ]:
a = [1, 2, 3]
a.insert(0, 4) # insert(a, b)는 리스트의 a번째 위치에 b를 삽입
print(a)

In [ ]:
a = [1, 2, 3, 1, 2, 3]
a.remove(3) # remove(x)는 리스트에서 첫 번째로 나오는 x를 삭제
print(a)

In [102]:
a = [1,2,3]
print(a.pop()) # pop()은 리스트의 맨 마지막 요소를 돌려주고 그 요소는 삭제

3

In [103]:
a

[1, 2]

In [104]:
b = [1,2,3]
print(b.pop(1)) # pop(x)는 리스트의 x번째 요소를 돌려주고 그 요소는 삭제

2

In [105]:
print(b)

[1, 3]

In [ ]:
import pandas as pd